# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual Environments
venv/

# Django
*.log
db.sqlite3
/static/
/media/

# VSCode
.vscode/

# Environment
.env
.env.*

# Migrations: se versionan
**/migrations/__pycache__/
**/migrations/*.py[cod]

# OS
.DS_Store
Thumbs.db

# Others
*.bak
*.swp
*.swo
.idea/
*.egg-info/
